body {
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
    background: rgba(255, 208, 0, 0.179);
}

.dark-mode {
    background: rgba(0, 18, 78, 0.846);
    /* color: rgba(92, 109, 164, 0.846); */
}

h1 {
    font-size: 48px;
    margin: 50px auto 50px;
}

.main-container {
    width: 40%;
    margin: 0 auto;
}

.top-container {
    position: relative;
    background-color: rgba(255, 208, 0, 0.436);
    border-radius: 4px;
}
.top-container-dark-mode{
    background: rgba(0, 18, 78, 0.846);
    color: rgba(92, 109, 164, 0.846);
}

.board-container {
    width: fit-content;
    margin: 0 auto;
    padding: 50px;
}

table {
    width: fit-content;
    margin: 0 auto;
}

td {
    width: 40px;
    height: 40px;
    background-color: gray;
    cursor: pointer;
    box-shadow: 2px 2px black;
    border-radius: 5px;
}

td:hover {
    box-shadow: none;
}

.shown {
    background-color: rgb(180, 180, 180);
    box-shadow: none;
}

.smily {
    width: fit-content;
    margin: 10px auto;
    padding-bottom: 15px;
    cursor: pointer;
    display: inline-block;
}

.smily:hover {
    animation: smily 1.5s ease-in-out 0s 1 normal forwards;
}

.timer {
    height: 2em;
    padding: 10px, 20px, 20px;
    margin: 20px auto;
}

.hints {
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 5%;
    cursor: pointer;
}

.hearts {
    display: inline-block;
    position: absolute;
    top: 25%;
    right: 5%;
}

button {
    background: rgba(255, 208, 0, 0.179);
    font-family: monospace;
    font-size: 24px;
    padding: 10px;
    margin: 20px;
    border-radius: 4px;
}

button:hover {
    animation: button-scale 0.2s ease-in-out 0s 1 normal forwards;
    /* background-color: rgb(255, 208, 0); */
}

.msg {
    width: fit-content;
    margin: auto;
    padding: 20px;
}

.msg-shown {
    position: relative;
    border: 4px solid rgba(255, 208, 0, 0.554);
    border-radius: 4px;
}

.red-bg {
    background-color: rgba(255, 0, 0, 0.476);
}

.highscore {
    width: 100%;
    margin: 20px auto;
    padding: 10px 0;
    background-color: rgba(255, 208, 0, 0.554);
}

.highscore-dark-mode {
    background-color: rgba(0, 18, 78, 0.846);
    color: rgba(92, 109, 164, 0.846);
}

.safe-click-div {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
}

.safe-click-btn {
    background-color: rgba(0, 255, 208, 0.276);
    font-size: 16px;
    margin: 20px 10px 0 10px;
    padding: 5px;
    cursor: pointer;
}

.safe-click-btn:hover {
    background-color: rgba(0, 255, 208, 0.548);
}

.safe-clicks-count {
    font-size: 14px;
    margin: 10px;
    cursor: default;
}

.safe {
    background-color: rgba(0, 255, 208, 0.276);
}

.unavailable {
    background-color: rgba(0, 255, 208, 0);
    cursor: default;
}

.unavailable:hover {
    animation: none;
    background-color: rgba(0, 255, 208, 0);
}

.dark-mode-btn {
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 16px;
    margin: 20px 10px 0 10px;
    padding: 5px;
    cursor: pointer;
}

.dark-mode-btn:hover {
    background-color: rgba(0, 25, 114, 0.819);
    color: rgb(255, 208, 0);
}

@keyframes smily {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-4px);
    }

    20%,
    40%,
    60% {
        transform: translateY(4px);
    }

    80% {
        transform: translateY(3.4px);
    }

    90% {
        transform: translateY(-3.4px);
    }
}

@keyframes button-scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}