body{
    font-size: 24px;
    font-family: monospace;
    text-align: center;
}
h1{
    font-size: 48px;
}
.board-container{
    width: fit-content;
    margin: 10px auto;
}
td{
    width: 40px;
    height: 40px;
    background-color: gray;
    cursor: pointer;
}
.shown{
    background-color: wheat;
}
.smily{
    width: fit-content;
    margin: 10px auto;
    cursor: pointer;
}